.appLink {
    color: var(--primary-color);
}

.primary {
    color: var(--accent-color);
}

.navbar {
    position: relative;
    transition: all 0.3s;

    &::before {
        position: absolute;
        content: "";
        bottom: -4px;
        left: -5%;
        height: 2px;
        width: 110%;
        background-color: var(--accent-color);
        transform: scale(0);
    }

    &:hover::before,
    &:focus::before {
        transform: scale(1);
    }

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
