.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.innerContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    align-items: center;
    justify-items: center;
}
