@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: "Helvetica Neue";
    font-display: swap;
    src:
        url("app/fonts/HelveticaNeue-Regular.woff2") format("woff2"),
        url("app/fonts/HelveticaNeue-Regular.woff") format("woff");
}

@font-face {
    font-style: normal;
    font-weight: 500;
    font-family: "Helvetica Neue";
    font-display: swap;
    src:
        url("app/fonts/HelveticaNeue-Medium.woff2") format("woff2"),
        url("app/fonts/HelveticaNeue-Medium.woff") format("woff");
}

@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: "Helvetica Neue";
    font-display: swap;
    src:
        url("app/fonts/HelveticaNeue-Bold.woff2") format("woff2"),
        url("app/fonts/HelveticaNeue-Bold.woff") format("woff");
}
