// Viewports
$vp-400: "max-width: 399px";
$vp-768: "max-width: 767px";
$vp-1024: "max-width: 1023px";
$vp-1250: "max-width: 1251px";

:root {
    // Colors
    // для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482
    --color-main-black: #000;
    --color-main-white: #fff;
    --color-light-gray: #d4d4d4;

    // Sizes
    --navbar-height: 80px;
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;

    // Animation
    --tf-default: ease;
    --trans-default: 0.3s var(--tf-default);

    // Fonts
    --font-family: "Helvetica Neue", "Arial", sans-serif;
    --font-size-s: 16px;
    --line-height-s: 24px;
    --font-s: var(--font-size-s) / var(--line-height-s) var(--font-family);
    --font-size-m: 20px;
    --line-height-m: 28px;
    --font-m: var(--font-size-m) / var(--line-height-m) var(--font-family);
    --font-size-l: 24px;
    --line-height-l: 32px;
    --font-l: var(--font-size-l) / var(--line-height-l) var(--font-family);
}
