@import "../themes/light",
    "../themes/dark";

.app {
    font-family: var(--font-s);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}
