.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font: var(--font-s);
    cursor: pointer;
    border: 1px solid transparent;
    color: var(--primary-color);
    background-color: transparent;
    padding: 10px 15px;
}

.clear {
    padding: 0;
    border: none;
    background: transparent;
    outline: none;
}

.border {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.background {
    background: var(--accent-color);
    color: var(--bg-color);
    border: none;
}

.backgroundInverted {
    background: var(--accent-color);
    color: var(--bg-color);
    border: none;
}
