.langSwitcher {
    min-width: 50px;
    min-height: 50px;
    color: var(--secondary-color);
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
}
