.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--inverted-bg-color);
    padding: 0 40px;
}

.links {
    margin-right: 24px;
}

.link {
    font: var(--font-m);
    margin-left: 24px;
}

.switchers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    gap: 24px;

    button {
        font: var(--font-s);
    }
}
